@charset "UTF-8";
@font-face {
  font-family: "myfont";
  src: url("../fonts/iconsfont..eot");
  src: url("../fonts/iconsfont.?#iefix") format("embedded-opentype"), url("../fonts/iconsfont.woff") format("woff"), url("../fonts/iconsfont.ttf") format("truetype"), url("../fonts/iconsfont.#iconsfont") format("svg");
  font-weight: normal;
  font-style: normal; }

.icon {
  font-family: "myfont"; }
  .icon:before {
    /* Some common icon stuff */ }
  .icon.-fb:before {
    content: ""; }
  .icon.-google:before {
    content: ""; }
  .icon.-insta:before {
    content: ""; }
  .icon.-pinterest:before {
    content: ""; }
  .icon.-rss:before {
    content: ""; }
  .icon.-stumbleupon:before {
    content: ""; }
  .icon.-twitter:before {
    content: ""; }

/*------------------------------------*				MAIN STYLES
\*------------------------------------*/
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; }

.cf::before,
.cf::after {
  content: " ";
  display: table; }

.cf::after {
  clear: both; }

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: normal; }

p {
  color: #86878b;
  font-size: 14px; }

a {
  display: block;
  text-decoration: none; }

ul {
  list-style: none; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 17px; }

.divider, .divider--color {
  width: 64px;
  border-bottom: 2px solid #fff; }

.divider--color {
  border-color: #ff8b38; }

.divider--center {
  margin: auto; }

.gray {
  background-color: #f5f5f5; }

/*------------------------------------*				BUTTONS
\*------------------------------------*/
.button-transparent a {
  display: inline-block;
  outline: 1px solid #fff;
  border: 1px solid #cfd0d0;
  padding: 12px 25px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  transition: 1s; }

.button-transparent a:hover {
  background-color: #fff;
  opacity: .5;
  color: #383838; }

.button-color a {
  color: #fff;
  font-size: 15px;
  display: inline-block;
  background-color: #ff8b38;
  text-align: center;
  border-radius: 5px;
  padding: 17px 25px;
  transition: 1s; }

.button-color a:hover {
  background-color: #333; }

/*------------------------------------*				 HEAD 
\*------------------------------------*/
.wrapper {
  background: #000; }

header {
  width: 1224px;
  margin: 0 auto;
  padding: 20px 0; }

.header__small-logo {
  float: left; }

.header_nav {
  float: right; }

.header_nav a {
  display: inline-block;
  padding-left: 45px;
  color: #fff;
  opacity: .6;
  font-size: 14px; }
  .header_nav a:hover {
    opacity: 1; }

/*------------------------------------*			HEAD SCREEN SECTION 
\*------------------------------------*/
.head-screen_wrapper {
  background: url(../images/HeaderBG.png) no-repeat;
  background-size: cover; }

.head-screen {
  width: 1224px;
  margin: 0 auto;
  padding: 110px 0 140px;
  color: #fff; }

.head-screen_text {
  max-width: 520px;
  float: left; }
  .head-screen_text p {
    margin-bottom: 47px; }

.head-screen_form {
  width: 360px;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 5px;
  float: right; }
  .head-screen_form h2 {
    text-align: center;
    background: #f5f5f5;
    padding: 20px 0px;
    border-radius: 5px 5px 0 0;
    color: #333;
    margin-top: 0; }
  .head-screen_form span {
    color: #ff9b51; }
  .head-screen_form button {
    background-color: #ff9b51;
    color: #fff;
    border: none;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0 0 5px 5px;
    cursor: pointer; }
    .head-screen_form button:hover {
      opacity: 0.8;
      cursor: pointer; }

.head-screen_form__inputs {
  padding: 0 37px; }
  .head-screen_form__inputs [type="text"],
  .head-screen_form__inputs [type="email"],
  .head-screen_form__inputs [type="password"] {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    padding: 10px 15px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 40px;
    height: 35px;
    color: #bdbdbd; }

/*------------------------------------*			SOCIAL SECTION
\*------------------------------------*/
.social-wrapper {
  border-bottom: 2px solid #b7b7b7; }

.social {
  width: 1224px;
  margin: 0 auto;
  padding: 23px 0; }

.social_text {
  max-width: 365px;
  float: left; }

.social a {
  color: #ccc;
  display: inline-block;
  float: right;
  margin-top: 30px;
  margin-left: 65px;
  transition: 1s; }
  .social a:hover {
    transform: scale(1.2);
    color: #000; }

/*------------------------------------*			TABS SECTION
\*------------------------------------*/
.tabs {
  width: 1224px;
  margin: 0 auto;
  padding: 145px 0 115px;
  position: relative; }

.tabs_tab label {
  display: block;
  background: #333333;
  width: 112px;
  height: 112px;
  line-height: 112px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 1px;
  cursor: pointer;
  transition: 1s; }

.tabs_tab:first-child label {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

.tabs_tab:last-child label {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

.tabs_tab_content {
  position: absolute;
  margin-left: 210px;
  display: none; }

.tabs_tab_content__text {
  width: 490px;
  float: left;
  margin-right: 90px; }

.tabs_tab_content__text h2 {
  margin-bottom: 55px;
  margin-top: 0; }

.tabs_tab_content__text p {
  color: #86878b;
  margin-bottom: 30px; }

.tabs_tab_content__text p:last-of-type {
  margin-bottom: 50px; }

.tabs_tab [type=radio] {
  display: none; }

.tabs_tab [type=radio]:checked + label {
  background: #ff8b38; }

.tabs_tab [type=radio]:checked + label + .tabs_tab_content {
  display: block;
  top: 145px; }

.tabs_tab_content__image {
  float: left; }

/*------------------------------------*			BASE SECTIONS
\*------------------------------------*/
.base {
  width: 1224px;
  margin: 0 auto;
  padding: 110px 0 135px; }

.base_image--left {
  width: 50%;
  float: left; }

.base_text--right {
  width: 40%;
  float: right;
  padding-right: 40px; }

.base ul {
  padding-left: 0; }

.base a {
  display: block;
  float: left;
  margin-right: 30px; }

.base ul p {
  margin-left: 70px; }

.base_image--right {
  width: 50%;
  float: right; }

.base_text--left {
  width: 40%;
  float: left;
  padding-right: 40px; }

/*------------------------------------*			AWESOME SECTION
\*------------------------------------*/
.awesome {
  background-color: #fff;
  text-align: center;
  width: 1224px;
  margin: 0 auto;
  padding: 105px 0; }

.awesome_definition {
  float: left;
  width: 33%;
  margin-top: 83px; }

/*------------------------------------*			PRICING SECTION
\*------------------------------------*/
.pricing {
  width: 1224px;
  margin: 0 auto;
  padding: 110px 0 95px;
  text-align: center; }

.pricing_table {
  display: inline-block;
  background: #fff;
  width: 29%;
  margin-top: 80px;
  margin-right: 40px; }

.pricing_table__head {
  background: #000;
  color: #fff;
  border-bottom: 5px solid #ff8b38; }
  .pricing_table__head p {
    font-style: italic;
    font-weight: bold; }
  .pricing_table__head h1 {
    font-size: 35px;
    font-weight: bold;
    margin-top: 32px;
    margin-bottom: 20px; }
  .pricing_table__head span {
    font-size: 94px; }
  .pricing_table__head h2 {
    margin-top: 0;
    padding: 21px 0;
    border-bottom: 1px solid #fff; }

.pricing_table__head:nth-of-type(2) {
  border-bottom: none;
  /* NOT WORKING */ }

.pricing_table__pop h3 {
  background: #ff8b38;
  border-bottom: none;
  text-transform: uppercase;
  padding: 15px 0;
  margin-bottom: 0; }

.pricing_table ul {
  margin: 0;
  padding-left: 0; }
  .pricing_table ul li {
    text-transform: uppercase;
    color: #86878b;
    border-bottom: 1px solid #f5f5f5;
    padding: 15px 0; }

/*------------------------------------*			REVIEWS SECTION
\*------------------------------------*/
.reviews {
  width: 1224px;
  margin: 0 auto;
  padding: 105px 0;
  text-align: center;
  background-color: #fff; }

.reviews_comment {
  float: left;
  width: 273px;
  margin-right: 120px;
  margin-top: 55px; }

.reviews_comment:last-of-type {
  margin-right: 0;
  /* NOT WORKING */ }

.reviews_comment_text {
  background: #f5f5f5;
  padding: 25px 13px;
  font-style: italic;
  border-radius: 5px;
  position: relative; }

.reviews_comment_text:after {
  content: "";
  position: absolute;
  background: #f5f5f5;
  height: 20px;
  width: 20px;
  transform: rotate(45deg);
  top: 95%;
  left: 25px; }

.reviews_comment__img {
  margin-top: 25px;
  position: absolute; }

.reviews_author {
  margin-left: 87px;
  text-align: left; }
  .reviews_author h2 {
    margin: 40px 0 0; }
  .reviews_author p {
    margin: 0; }

/*------------------------------------*			DESIGN SECTION
\*------------------------------------*/
.design-wrapper {
  background: url(../images/DownloadBG.png) no-repeat;
  background-size: cover; }

.design {
  width: 1224px;
  margin: 0 auto;
  padding: 75px 0 65px;
  color: #ffffff;
  text-align: center; }

.design p {
  margin-bottom: 35px; }

/*------------------------------------*			CONTACT US SECTION
\*------------------------------------*/
.contact {
  width: 1224px;
  margin: 0 auto;
  text-align: center;
  padding: 110px 140px; }

.contact_form {
  margin-top: 85px;
  margin-bottom: 45px; }

.form_data {
  float: left;
  width: 45%; }

.form_message {
  width: 45%;
  margin-left: 55%; }

.contact_form [type="text"],
.contact_form [type="email"],
textarea {
  width: 100%;
  outline: none;
  padding: 10px 15px;
  border: none;
  border-bottom: 1px solid #d6d6d6;
  color: #bdbdbd;
  margin-top: 30px; }

.contact_form textarea {
  height: 168px;
  resize: none; }

/*------------------------------------*				FOOTER 
\*------------------------------------*/
footer {
  width: 1224px;
  margin: 0 auto;
  padding: 15px 0;
  color: #fff;
  text-align: center; }

footer a {
  color: #fff;
  display: inline-block;
  margin-right: 35px; }
  footer a:hover {
    transform: scale(1.1); }

/*# sourceMappingURL=style.css.map */
