/* MAIN STYLES */

body {
	margin: 0 auto;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.cf::before,
.cf::after {
    content: " ";
    display: table;
}

.cf::after {
    clear: both;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 36px;
	font-weight: normal;
}

p {
	color: #86878b;
	font-size: 14px;
}

a {
  display: block;
  text-decoration: none;
 }

 ul {
	list-style: none;
}



h2 {
	font-size: 20px;
}

h3 {
	font-size: 17px;
}

.divider {
	width: 64px;
	border-bottom: 2px solid #fff;
}


/* BUTTONS */

.button-transparent {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 135px;
	height: 42px;
	outline: 1px solid #fff;
	border: 1px solid #cfd0d0;
	line-height: 40px;
	text-align: center;
}

.button-transparent a {
	color: #fff;
	font-size: 15px;
	transition: 1s;
}

.button-transparent a:hover {
	background-color: #fff;
	opacity: .5;
	color: #383838;
}

.button-color a {
	color: #fff;	
	font-size: 15px;
	display: inline-block;
	background-color: #ff8b38;
	text-align: center;
	border-radius: 5px;
	padding: 17px 25px;
	transition: 1s;
}

.button-color a:hover {
	background-color: #333;
}




/* HEAD */

header {
	color: #fff;

	.header_nav {
		background: #000;
		position: fixed;
		width: 100%;
		line-height: 100%;
		font-size: 14px;
		padding: 10px 150px;	
		z-index: 9999;

		a {
			color: #fff;
			opacity: .6;

		}
	}

	.header__small-logo {
		margin: 11px 0 11px;	
		float: left;
	}


	ul {
		margin-right: 250px;
		float: right;

			li{
				box-sizing: border-box;
				padding-right: 48px;
				float: left;
				display: block; 
			}

	}
}



.head-screen {
	background: url(../images/HeaderBG.png) no-repeat;
	background-size: 100%;
	padding: 180px 150px 140px 10.71%;
	color: #fff;
}


.main-text {
	padding-top: 180px;
	max-width: 520px;
	float: left;
}

.main-text>p {
	margin-bottom: 47px;
}

.trial-form {
	width: 360px;
	margin-top: 210px;
	margin-left: 305px;
	background-color: #fff;
	border-radius: 5px;
	float: left;
}

.trial-form h2 {
	background: #f5f5f5;
	padding: 20px 52px;
	border-radius: 5px 5px 0 0;
	color: #333;
	margin-top: 0;
}

.trial-form span {
	color: #ff9b51;
}

.inputs {
	padding: 0 37px;
}

.trial-form input[type="text"],
.trial-form input[type="email"],
.trial-form input[type="password"] {
	box-sizing: border-box;
	width: 100%;
	outline: none;
	padding: 10px 15px;
	background: transparent;
	border: none;
	border-bottom: 1px solid #d6d6d6;
	margin-bottom: 45px;
	height: 35px;
	color: #bdbdbd;
}

.trial-form button {
	background-color: #ff9b51;
	color: #fff;
	border: none;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 0 0 5px 5px;
	cursor: pointer
}

.trial-form button:hover {
	opacity: 0.8;
	cursor: pointer;
}


.social {
	padding: 23px 167px 22px 152px;
	border-bottom: 2px solid #b7b7b7;
}





/* TABS */
.tabs {
	background: #f5f5f5;
	padding: 145px 149px 115px 142px;
	position: relative;
}

.tab label {
	display: block;
	background: #333333;
	width: 112px;
	height: 112px;
	line-height: 112px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 1px;
	cursor: pointer;
}

.tab label:first-of-type {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.tab label:last-of-type {
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.tab_content {
	position: absolute;
	margin-left: 354px;
	display: none;
	transition: 1s;

}

.tab .text {
	width: 423px;
	float: left;
	margin-right: 155px;
}

.tab_content h2 {
	margin-bottom: 55px;
	margin-top: 0;
}
.tab_content p {
	color: #86878b;
	margin-bottom: 30px;
}

.tab_content p:last-of-type {
	margin-bottom: 50px;
}

.tab [type=radio] {
	display: none;
}

.tab [type=radio]:checked +label {
	background: #ff8b38;

}

.tab [type=radio]:checked +label +.tab_content {
	display: block;
	top: 145px;
}

.tabs .image {
	float: left;
}


.sublist {
	padding: 108px 169px 114px 152px;
}
.sublist .image {
	width: 50%;
	float: left;
}
.sublist .text {
	width: 50%;
	float: left;
}


.sublist a{
	display: inline-block;
	float: left;
	margin-right: 30px;
}

.sublist ul {
	display: block;
	float: left;
}

.sublist .divider {
	border-color: #ff8b38;;
}

.sublist .buttons {
	width: 41px;
	float: left;
}

.sublist .buttons a {
	margin-top: 55px;
}

.sublist ul {
	display: block;
	float: left;
	width: 364px;
}

.standart {
	padding: 108px 169px 114px 152px;
	background-color: #f5f5f5;
}
.standart .image {
	width: 50%;
	float: left;
}
.standart .text {
	width: 50%;
	float: left;
}

.standart .divider {
	border-color: #ff8b38;;
}




/* AWESOME */
.awesome {
	background-color: #fff;
	text-align: center;
	padding: 108px 142px 106px 142px;
}

.awesome a {
	display: inline-block;
}

.awesome .divider {
	border-color: #ff8b38;
	margin: auto;
}

.awesome .definitions {
	margin-top: 83px;
}
.awesome .definition {
	float: left;
	width: 33%;
}




/* PRICING */
.pricing {
	background-color: #f5f5f5;
	padding: 108px 145px 96px 146px;
	text-align: center;
	

	.divider {
		border-color: #ff8b38;
		margin: auto;
	}

	.pricing_tables_table {
		display: inline-block;
		background: #fff;
		width: 30%;
		margin-top: 80px;
		margin-right: 40px;
	}

	.pricing_tables_table__head {
		background: #000;
		color: #fff;
		border-bottom: 5px solid #ff8b38;
	
	.pricing .professional .prof_title {
		border-bottom: none;
	}

		p {
			font-style: italic;
			font-weight: bold;
		}
	

		h1 {
			font-size: 35px;
			font-weight: bold;
			margin-top: 32px;
			margin-bottom: 20px;
		}
		span {
			font-size: 94px;
		}
		h2 {
			margin-top: 0;
			padding: 21px 0;
			border-bottom: 1px solid #fff;
		}
	}

	.pricing_tables_table__pop h2 {
		background: #ff8b38;
		border-bottom: none;
		text-transform: uppercase;
		padding: 15px 0;
		margin-bottom: 0;
	}

	.pricing_tables_table ul {
		margin: 0;
		padding-left: 0;

		li {
			text-transform: uppercase;
			color: #86878b;
			border-bottom: 1px solid #f5f5f5;
			padding: 15px 0;
		}
	}
}



/* COMMENTS */
.comments {
	padding: 108px 171px 101px 171px;
	text-align: center;
	background-color: #fff;	
}

.comments .divider {
	border-color: #ff8b38;
	margin: auto;
}


.comment {
	float: left;
	width: 273px;
	margin-right: 120px;
	margin-top: 55px;
}

.comments_text {
	background: #f5f5f5;
	padding: 25px 13px 26px 12px;
	font-style: italic;
	border-radius: 5px;
	position: relative;
}

.comments_text:after {
	content: "";
	position: absolute;
	background: #f5f5f5;
	height: 20px;
	width: 20px;
	transform: rotate(45deg);
	top: 95%;
	left: 25px;
}

.comments_comment__img {
	margin-top: 25px;
	position: absolute;
}

.comments_author {
	margin-left: 87px;
	text-align: left;

	h2 {
		margin: 40px 0 0;
	}

	p {
		margin: 0;
	}
}




.design {
	padding-top: 75px;
	padding-bottom: 63px;
	background: url(../images/DownloadBG.png) no-repeat;
	background-size: 100%;
	color: #ffffff;
	text-align: center;

	.divider {
	margin: auto;
	}

	.button-transparent {
	margin: auto;
	}
}



.contact {
	text-align: center;
	padding: 108px 138px 141px 81px;


	.divider {
	border-color: #ff8b38;
	margin: auto;
	}

	.contact_form {
		margin-top: 83px;
		margin-bottom: 42px;
	}
	.contact_form_data {
		float: left;
		padding-right: 67px;
	}

	.contact_form_message {
		float: left;
	}
	
	.contact_form input[type="text"],
	.contact_form input[type="email"],
	.contact_form textarea {
		width: 100%;
		box-sizing: border-box;
		outline: none;
		padding: 10px 13px;
		border: none;
		border-bottom: 1px solid #d6d6d6;
		color: #bdbdbd;
		margin-top: 30px;
	}
}





footer {
	color: #fff;
	background: #000000;

	.footer_text {
			opacity: .6;
			text-align: center;
	}

}






