
$icon-fb: "\EA01" !default;

$icon-google: "\EA02" !default;

$icon-insta: "\EA03" !default;

$icon-pinterest: "\EA04" !default;

$icon-rss: "\EA05" !default;

$icon-stumbleupon: "\EA06" !default;

$icon-twitter: "\EA07" !default;