header {
	background: #000000;
	color: #b0b0b0;
}

.gray {
	background: #f5f5f5;
}

.white {
	background: #ffffff;
}

footer {
	color: #808080;
	background: #000000;
	font-family: "Open Sans";
}

ul {
	list-style: none;
}